<!DOCTYPE html>
<html>

<head>
  <title>Result Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style_area.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Trirong');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Trirong", serif;
    }

    body {
      min-height: 100vh;
      justify-content: center;
      /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
      background-image: url("../static/bg_image_2.jpg");
      background-size: cover;
      display: flex;

    }
  </style>

  <link rel="stylesheet" href="../static/Footoff.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
  <form action="/wa">
    <h1 style="text-align: center;margin-top: 70px;margin-bottom: 20px;padding-top: 70px">{{ data[0] }}</h1>

  </form>

</body>

</html>